// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome";


@mixin short-text{
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-user{
  background: $green;
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  border-radius: 50%;
  text-align: center;

  a{
    color: #fff;
    font:{
      weight: 700;
    };
    position: relative;
    bottom: 2px;
  }
}

.project-list{
  max-height: 500px;
  overflow-y: scroll;
}

.active-project{
  border: 2px solid $green;
  border-top-width: 2px !important;
}

.delete-form{
  display: inline-block;

  .btn{
    color: red;
  }
}

.table-container{
  overflow-x: scroll;
}

.fixed-column{
  a, span{
    @include short-text;
  }
}